/*居中容器*/
@media screen and (min-width: 599px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.right{
  float:right;
}
.left{
  float:left;
}
/*自定义按钮*/
.i-button{
  /*margin: 5px 20px;*/
  width: 130px;
  /*height: 44px;*/
  background-color: rgba(66, 92, 225, 0.85)!important;
  border-color:rgba(66, 92, 225, 0.85)!important;
  border-radius:6px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF!important;
  transition: .2s;
}
.i-button:hover{
  font-weight: 700!important;
  background-color: rgba(66, 92, 225, 1)!important;
  border-color:rgba(66, 92, 225, 1)!important;
}
/*.i-button:hover{*/
  /*background: #FFFFFF!important;*/
  /*color: #425CE1!important;*/
/*}*/
.flex-center{
  display:flex;
  align-items: center;
}
/*水平翻转*/
.flip-horizontal{
  transform: scaleX(-1);
}
